<a href="https://colab.research.google.com/github/23130050-NguyenLeTienDat/Web_test/blob/py/Lab1_23130050_NguyenLeTienDat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Py_Tuan1

bai 1

In [ ]:
def check_Triangle(a,b,c):
  if(a+b<=c) or (a+c<=b) or (b+c<=a):
    print("khong phai tam giac")
  else:
    if(a==b) and (b==c):
      print("la tam giac deu")
    elif(a==b) or (b==c) or (a==c):
      print("la tam giac can")
    else :
      print("la tam giac thuong")

In [ ]:
check_Triangle(2,2,3)

la tam giac can

bai 2

In [ ]:
def check_Point(x,y,w,h):
  x1 = int(input("nhap x1: "))
  y1 = int(input("nhap y1: "))
  if(w<=0) or (h<=0):
    print("khong phai hinh chu nhat")
  else :
    if(x <= x+x1 <= x+w ) and (y <=y+y1 <= y+h):
      print(x1,y1,"thuoc hinh chu nhat")
    else:
      print(x1,y1,"khong thuoc hinh chu nhat")

In [ ]:
check_Point(4,4,3,4)

nhap x1: 1
nhap y1: 1
khong phai hinh chu nhat

bai 3

In [ ]:
def findM(n):
  if n<=1:
    return 0
  m=0
  sum =0
  while(sum+m+1 < n):
    m +=1
    sum +=m
  return m

In [ ]:
findM(10)

3

bai 4

In [ ]:
def fibonanci(num):
  if num <1  :
    return 0
  elif num ==1:
    return 1
  else:
    return fibonanci(num-1)+(fibonanci(num-2))

In [ ]:
fibonanci(8)

21

bai 5

In [ ]:
def taxi_fare(d,t):
  price = 0
  if(d ==1 ):
    price = 10000
  elif(d<=10):
    price = 10000 + (d-1)*5000
  else :
    price = 10000+ + 9*5000+ (d-10)*2000
  price += t*1000
  return price

In [ ]:
taxi_fare(11,5)

62000

bai 6

In [20]:
def bai6_1(n):
  if (n <= 0) :
   return -1;
  if(n==1):
    return 1;
  if(n%2 != 0):
    term = n;
  else :
   term = -n;
  return bai6_1(n-1)+ term;

In [21]:
print(bai6_1(5));

3

In [22]:
def bai6_2(n):
  if(n<=0): return -1;
  if(n==1): return 1;
  def factorial(k):
    if(k==0) or (k==1): return 1;
    return k*factorial(k-1);
  return bai6_2(n-1) + factorial(n);

In [24]:
print(bai6_2(2));

3

In [25]:
def bai6_3(n):
  if(n <=0): return -1;
  if(n==1): return 1;
  return bai6_3(n-1) + n*n;

In [28]:
print(bai6_3(3));

14

In [36]:
def bai6_4(n):
  if(n<0): print("n khong duoc nho hon 0");
  if(n==0): return 1;
  def factorial(k, sum, l_term):
    if(k>n): return sum;
    next_term = l_term /(2*k) ;
    return factorial(k+1, sum+next_term, next_term);
  return factorial(1, 1.0, 1.0);

In [38]:
print(bai6_4(2));

1.625

bai 7

In [17]:
def draw_pyramid(m):
  for i in range(1,m):
   print(" "*(m-i),"*"*(2*i-1))

In [12]:
draw_pyramid(5)

     *
    ***
   *****
  *******

bai 8

In [ ]:
def check_password(str):